.nz-card-size {
    max-width: 600px;
    padding: 10px;
}

.nz-align-btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.nz-align__editor-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nz-action-btns {
    padding: 20px;
    justify-content: space-around;
    display: flex;
    border-bottom: 2px solid #000;
    margin-bottom: 7px;
}
.nz-textbody-container {
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.nz-content-body {
    padding: 10px;
    overflow-y: auto;
    font-size: 16px;
    color: #000;
    outline: none;
    border: 2px solid #000;
    width: 100%;
    margin-bottom: 10px;
}

.nz-content-body:hover {
    border: 2px solid rgb(63,81,181);
}

.nz-action-btns div.mdl-button.nz-isactive {
    color: #dc4e42;
}